body {
    margin:0px;
    padding:0px;
    background-color:#181e28;
    color:antiquewhite;
}



 .hero-title {
    font-size: 120px;
    color:rgb(245, 158, 11);
    flex-shrink:1;

}

h2 {
    color:rgb(82, 223, 255);
    color:rgb(0, 228, 121);
}

.hero img {
    flex-basis:auto;
    height: 250px;
    border-radius: 10px;
    margin-right:50px;
 
    box-shadow: -5px 5px 5px rgba(0, 228, 121, 0.5); 
}
.header {
    display:flex;
    background-color:#0d11177c;
    position:sticky;
    top: -1px;
}


.header img {
    height: 72px;
}

.content {
    display:flex;
    flex-direction:column;

    
}

.blue {
    color:rgb(82, 223, 255);
}

.green {
    color:rgb(0, 228, 121);
}


/*--------------- SIDE-BAR ASSETS ---------*/




.header .menu {
    display:flex;
    justify-content:flex-end;
    padding-right:100px;
    flex-basis:80%;
    color:aliceblue;
    font-size:12px;
    flex-shrink:1;
 

}

ul,a {
    list-style-type: none;
    text-decoration:none;
    color:inherit;
    line-height:1.5em;
}

.menu ul {
    display:flex;
    gap: 80px;
    justify-content: space-around;
}

.menu svg {
    width: 20px;
    height: 20px;
    margin-right: 0px;
    vertical-align: middle;
    fill: white;
    color: white;
}

/*-------STARTS WITH THE MAIN STYLING----*/


main {
    flex:1;
    margin-left: 0px;
    padding-left: 0px;
    margin-right:0;

    display:flex;
    flex-direction:column;
    background-color:#0D1117;
}


section {
    flex:0;
    margin: 0px;
    padding: 0px;
    background-color:#2f3847;
   
}

.files-bar {
    background-color: #2f3847;
    margin:5px;
}

/*----HERO ASSETTS---------*/



.hero {
    display:flex;
    align-items:center;
    flex-basis:auto;
    flex-shrink:1;
    height: 800px;
    justify-content:center;
    gap:100px;

}

.hero .text {
    padding-left: 50px;
    flex-shrink:1;
}